header .main-nav ul li > ul{
  min-width: 550px !important;
  cursor: pointer !important;
}

.slick-dots li button {
	background-color: #FFC425 !important;
	height: 10px;
	width: 10px;
	text-indent: -9999px;
	overflow:hidden; 
	}

	.slider-flex{
		display: flex;
		justify-content: center;
		text-align: center;
	}