header .main-nav ul li > ul {
  min-width: 550px !important;
  cursor: pointer !important;
}

@media (max-width: 768px) {
  header .main-nav ul li > ul {
    min-width: 300px !important;
    text-align: start;
  }
  header .main-nav ul li > ul li {
    padding: 5px 20px !important;
  }
}
#cross {
  display: none;
}

@media (max-width: 768px) {
  #cross {
    display: block;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  margin: 0 5px; /* Adjust the spacing between dots as needed */
}

.slick-dots li button {
  background-color: #bbbbbb;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
  outline: none; /* Remove the button outline when focused */
}

.slick-dots li.slick-active button {
  background-color: #ffc425; /* Style for the active dot */
}

.slider-flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.service-list {
  margin: 8px 0px;
  cursor: pointer;
}
.service-list:hover {
  color: #ffff;
}

#main-title {
  font-size: 36px !important;
  font-weight: bold !important;
}
@media (max-width: 768px) {
  #main-title {
    font-size: 26px !important;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.mobile-menu-hidden {
  display: none;
}

#sliderSubHeading {
  font-size: 26px !important;
}
#inPhone {
  display: none;
}

#sliderHead {
  font-size: 32px !important;
}
@media (max-width: 768px) {
  #sliderSubHeading {
    display: none !important;
  }
  #sliderHead {
    display: none !important;
  }
  #inPhone {
    display: inline;
  }
  .fade-in-image {
    animation: fadeIn 5s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
